# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# Composer
/vendor/

# Node
node_modules/

# Temporary files
*.tmp
*.bak

# XAMPP cache
xampp/apache/logs/
xampp/mysql/data/

# PHPUnit
.phpunit.result.cache