body{

background:#f4f6f9;

font-family:'Segoe UI',sans-serif;

}

.login-container{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login-card{

width:430px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 8px 30px rgba(0,0,0,.15);

}

.login-card img{

margin-bottom:10px;

}

.login-card h2{

font-weight:bold;

}

.btn-dark{

padding:12px;

font-size:17px;

}

.form-control{

height:45px;

}